<div class="box">
	<div class="form_login">

		<span style="color: red">{{error.errorMessage}}</span>
		<div ng-show="user.role!='ADMIN'">Access Denied</div>
		<div ng-show="user.role == 'ADMIN'">

			<form>
				<div class="form-option">
					<label> Enter Job Title : <input type="text"class="form-control"
						ng-model="job.jobTitle"></label>
				</div>
				<br>
				<div class="form-option">
					<label> Enter Job Description : <input type="text"class="form-control"
						ng-model="job.jobDescription"></label>
				</div>
				<br>
				<div class="form-option">
					<label>Enter Job Location : <input type="text"class="form-control"
						ng-model="job.location"></label>
				</div>
				<br>
				<div class="form-option">
					<label>Enter Salary : <input tupe="text"class="form-control"
						ng-model="job.salary"></label>
				</div>
				<br>
				<div class="form-option">
					<label>Enter Skills Required : <input type="text"class="form-control"
						ng-model="job.skillsRequired"></label>
				</div>
				<br>
				<div class="form-option">
					<label>Enter Years Of Experience : <input type="text"class="form-control"
						ng-model="job.yrsOfExp"></label>
				</div>
				<br>
				<div class="form-option">
					<label>Enter Company Name : <input type="text"class="form-control"
						ng-model="job.companyName"></label>
				</div>
				<br>

				<button class="btn btn-info" ng-click="addJob(job)">Add Job</button>


			</form>
		</div>
	</div>
</div>