<span style="color:red">{{error.errorMessage}}</span>
<br>

<div class="box">
<div class="form_login">
<b style="color:white">Login page</b>
<br/><br>

<form>

<div class="form-option">
<input type="email" class="form-control" placeholder="Email" ng-model="user.email">
</div><br>
<div class="form-option">
<input type="password"  class="form-control" placeholder="Password" ng-model="user.password">
</div><br>
<div class="form-option">
<button ng-click="login(user)"style="background-color:black" >Login</button>
</div>
</form>
</div>
</div>